<?php

declare(strict_types=1);

return [
    'commerce_layer' => [
        'client'   => [
            'options' => [
                'base_uri' => 'https://my-app.commerce-layer.com/',
                'headers'  => [
                    'Content-Type' => 'application/vnd.api+json',
                    'Accept'       => 'application/vnd.api+json',
                ],
            ],
        ],
        'webhooks' => [
            'shared_secrets' => [
                'api.event.customer_create' => 'my-secret',
            ],
        ],
    ],
    'sap'            => [
        'client' => [
            'options' => [
                'auth'     => [
                    'my_username',
                    'my_secret_password',
                ],
                'base_uri' => 'https://my-app.sap.com/',
            ],
        ],
    ],
];
